.header {
  font-weight: 200;
  letter-spacing: 0.5pt;
  font-family: 'Avenir';
  color: #d677ed;
  @media (max-width: 991.98px) {
    font-size: 16pt;
    margin-bottom: 40px;
  }
  @media (min-width: 992px) {
    font-size: 16pt;
    margin-bottom: 60px;
  }
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 991.98px) {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 70px;
  }
  @media (min-width: 992px) {
    margin-top: 100px;
    padding-left: 100px;
  }
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161f2a;

  h2 {
    letter-spacing: 0.5pt;
    color: #bdccd4;
    font-family: 'Avenir';
    text-align: center;
  }

  @media (max-width: 991.98px) {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 70px;

    h2 {
      font-size: 26pt;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 68px;
      width: 220px;
    }
  }

  @media (min-width: 992px) {
    width: 100%;
    font-size: 52pt;
    margin-top: 100px;
    padding-left: 100px;

    h2 {
      font-size: 30pt;
      font-weight: 700;
      width: 300px;
      line-height: 1.3;
    }
  }
}

.first-paragraph {
  letter-spacing: 0.5pt;

  @media (max-width: 991.98px) {
    margin-bottom: 20px;
  }

  @media (min-width: 992px) {
    padding-right: 80px;
  }
}

.second-paragraph {
  letter-spacing: 0.5pt;

  @media (max-width: 991.98px) {
    margin-bottom: 150px;
  }

  @media (min-width: 992px) {
    padding-bottom: 20px;
    padding-right: 80px;
  }
}

.footer {
  letter-spacing: 0.5pt;
  background-color: #272f35;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;

  a {
    font-size: 12pt;
    color: #83b732;
    font-weight: 100;
    font-family: 'Avenir';
    letter-spacing: 0.5pt;
  }

  @media (max-width: 991.98px) {
    width: 100%;
    height: 80px;

    a {
      margin-left: 20px;
    }
  }
  @media (min-width: 992px) {
    background-color: #272f35;
    width: 100vw;
    height: 100px;

    a {
      margin-left: 100px;
    }
  }
}

.logo {
  height: 150px;
  margin-bottom: 30px;
  margin-top: 70px;

  .cls-1 {
    fill: #74fbe7;
  }
  .cls-2 {
    fill: #d677ed;
  }
}
